html, body, main {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    height: 100%;
}

.body{
    height: 100vh;
    width: 100vw;
}

.header{
    display: flex;
    justify-content: center;
    background-color: rgb(48, 159, 218);
}

.header-option{
    width: 40%;
}

.logo{
    display: flex;
    align-items: center;
}

.header-option ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.header-option img{
}

.main{
    display: flex;
    align-items: center;
    background-color: rgb(200, 255, 200);
    height: 89.5vh
}

aside{
    display: none;
    width: 10%;
    height: 100%;
    background-color: rgb(11, 90, 11);
}

.sugestions{
    width: 100%;
}

.filtros{ 
    background-color: rgb(28, 170, 85);
}

.filtros ul{
    list-style: none;
}

.footer{
    background-color: rgb(48, 159, 218);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 6vh;
}

.order-display{
    display: flex;
    flex-direction: column;
    border: orange solid;
    align-items: center;
}

.order-display img{
    width: 200px;
}

.order-display-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}


.form{
    height: 50vh;
}

/*login*/

.container{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 226, 207);
    /* background: linear-gradient(200deg, red,blue); */
}

.login-form{
    width: 300px;
    box-shadow: 0px 0px 10px gray;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}

.login{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.login > label{
    margin-bottom: 5px;
}

.login > input{
    height: 20px;
}

.senha{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.senha > label{
    margin-bottom: 5px;
}

.senha > input{
    height: 20px;
}

.semCadastro{
    margin-top: 10px;
}

.botaoLogin > button{
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
}

/*register*/

.register-form {
    width: 300px;
    box-shadow: 0px 0px 10px gray;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}

.register-form > div > label{
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    margin-top: 010px;
    height: 20px;
}

.botaoRegistrar > button{
    background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
    margin-top: 20px;
}


@media screen and (min-width: 750px) {
    aside{
        display: block;
        width: 10%;
        height: 100%;
        background-color: rgb(11, 90, 11);
    }

    .footer{
        display: block;
    }
}