<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Document</title>
</head>
<body>
    <main class="form">
        <form class="login-form">
            <div class="login-input">
                <label for="login">Login: </label>
                <input type="text" name="login">
            </div>
            <div>
                <label for="password">Senha: </label>
                <input type="text" name="password">
            </div>
        </form>
        <button class="login-button">Entrar</button>
        <a href="register.html">Não possui cadastro?</a>
        <a href="template.html">
            <button class="register-button">Voltar</button>
        </a>  
    </main>
</body>
</html>