<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
		<form class="login-form">
			<h2>Login</h2>
                <div class="login">
			    <label for="username">Email</label>
			    <input type="text" id="username" name="username" required>
                </div>
                <div class="senha">
			    <label for="password">Senha</label>
			    <input type="password" id="password" name="password" required>
                </div>
                <div class="botaoLogin">
			    <button type="submit" href="./template.html">Entrar</button>
                <button href="./template.html">Voltar</button>
                </div>
                <div class="semCadastro">
                <a href="./register.html">Não possui cadastro???</a>
                </div>
		</form>
	</div>
</body>
</html>