<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Document</title>
</head>
<body>
    <main class="form">
        <form class="register-form">
            <div>
                <label for="name">Nome: </label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="srname">Sobrenome: </label>
                <input type="text" name="srname">
            </div>
            <div>
                <label for="e-mail">E-mail: </label>
                <input type="text" name="e-mail">
            </div>
            <div>
                <label for="cel">Telefone: </label>
                <input type="text" name="cel">
            </div>
            <div>
                <label for="adress">Endereço: </label>
                <input type="text" name="adress">
            </div>
            <div>
                <label for="password">Senha: </label>
                <input type="text" name="password">
            </div>
            <div>
                <label for="cpassword">Confirmar senha: </label>
                <input type="text" name="cpassword">
            </div>
        </form>
        <a href="login.html">
            <button class="register-button">Registrar</button>
        </a>   
    </main>
</body>
</html>