<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Healthy Delivery</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="">
                <img src="" alt="healthy delivery">
            </a>
        </div>
        <div class="header-option">
            <ul>
                <li>
                    <a href="login.html">Login</a>
                </li>
                <li>
                    <a href="profile.html">Perfil</a>
                </li>
            </ul>
        </div>
    </header>
    <main class="main">
        <aside class="aside-bar">
            <div class="filtros">
                <ul>
                    <li>Procurar pedidos</li>
                    <li>sugestões</li>
                    <li>Novos</li>
                </ul>
            </div>
        </aside>
        <div class="sugestions">
            <div class="order-display">
                <img src="img/D_01.jpg">
                <div class="order-display-info">
                    <a href="order.html">
                        <button>Pedir</button>
                    </a>
                    <h4>R$ 15,90</h4>
                </div>
            </div>
            <div class="order-display">
                <img src="img/D_02.jpg">
                <div class="order-display-info">
                    <a href="order.html">
                        <button>Pedir</button>
                    </a>
                    <h4>R$ 20,90</h4>
                </div>
            </div>
            <div class="order-display">
                <img src="img/D_04.jpg">
                <div class="order-display-info">
                    <a href="order.html">
                        <button>Pedir</button>
                    </a>
                    <h4>R$ 16,90</h4>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <a href=""><img src="img/facebook.svg"></img></a>
        <a href=""><img src="img/instagram.svg"></img></a>
        <a href=""><img src="img/twitter.svg"></img></a>
    </footer>
</body>
</html>