<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Healthy Delivery</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="">xxxxxx</a>
        </div>
        <div class="header-option">
            <ul>
                <li>
                    <a href="login.html">Login</a>
                </li>
                <li>
                    <a href="order.html">Criar pedido</a>
                </li>
            </ul>
        </div>
    </header>
    <main class="main">
        <aside>
            <div class="filtros">
                <ul>
                    <li>Procurar pedidos</li>
                    <li>sugestões</li>
                    <li>Novos</li>
                </ul>
            </div>
        </aside>
        <div class="sugestions">
            <div>xxxxxx</div>
        </div>
    </main>
    <footer class="footer">
        <a href=""><img src="img/facebook.svg"></img></a>
        <a href=""><img src="img/instagram.svg"></img></a>
        <a href=""><img src="img/twitter.svg"></img></a>
    </footer>
</body>
</html>